*{
    background-color: #E6EBEE;
    padding: 0px;
    margin: 0px;
}


.bodyparent{
    display: flex;
}

#name{
    color: #c7cacc;
    background-color: black;
     width:min-content ;
     height: max-content;
    margin: 300px 0 0 20px;
    font-size: 80px;
    font-family: 'Lexend Deca', sans-serif;
}
#nameinfo{
    color: #6B6A6A;
    background-color: rgb(22, 255, 1);
    width:min-content ;
    height: min-content;
    margin: 0 0 0 425px;
    font-size: 30px;
    font-family: 'Lexend Deca', sans-serif;
}