    *{
        padding: 0px;
        margin: 0px;
    }
body{
    background-color: #0f0f0f;
}

.gridcontainer{
    display:grid;
    grid-template-columns: auto auto ;
}

    #game{
        margin:100px 100px 0px 100px;
        width:  700px;
        height:  300px;
        border: 5px solid rgba(0, 0, 0, 0.233);
        border-radius: 20px;
        background-color: #272727;
    }

    #character{
        position: relative;
        width: 30px;
        height: 60px;
        top: 240px;
        left: 40px;
    
    }
    .animate{
        animation: jump 500ms linear;
    }
    @keyframes jump{
        0%{top:240px;}
        30%{top:170px; rotate: 10deg;}
        70%{top:170px; rotate: -10deg;}    
        100%{top:240px;}
    }

    #block{
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: blueviolet;
        top: 210px;
        left: 670px;
        animation: block 1500ms infinite linear;
    }
    @keyframes block{
        0%{left:670px;}
        100%{left:0px;}
    }

    #score{
        position: relative;
        margin: 40px 100px;
        padding:20px;
        display: flex;
        align-items: center;
        min-width: 200px;
        width: max-content;
        height:  60px;
        border-radius: 20px;
        background-color: #FFEA7F;
        font-size: 30px;
        font-family: 'Press Start 2P', cursive;
        font-weight: 600;
        text-align: center;
    }
    


    .introcard{
        position: fixed;
        z-index: 3;
        border-radius: 5vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #b67fff;
        width: 80vh;
        height: 60vh;
        left: 65vh;
        top: 20vh;
    }
    .carddata{
        margin: 4vh;
        display: flex;
        flex-direction: row;
        background-color: #0f0f0f23;
        height: 50vh;
        width: 80vh;
    
    }
    .JS{
        width: 20vh;
        background-color: #ff9e2f;
        border-radius: 6vh;
        
    }
    #runner{
        margin-top: 7vh;
        margin-left: -4vh;
        font-family: 'Bangers', cursive;
        font-size: 10vh;
    }
    #gitlink{
        position:fixed;
        width: 40vh;
        height: 10vh;
        border: 0.5vh solid black ;
        top:60vh;
        left: 77vh;
    }

    .info{
        margin: 4vh;
        display: flex;
        flex-direction: row;
        background-color: #0f0f0f23;
        height: 50vh;
        width: 10vh;
        
    }

    .player{
        background-color: #000000;
        margin-top:10px;
        border-radius: 30px;
        width: 400px;
        height: 600px;
    }
    .row1{
        align-items: center;
        padding: 20px;
    }
    .row1 h2{
        margin-top: 20px;
        color: cornflowerblue;
        text-align: center;
        align-items: center; 
        font-family: 'Press Start 2P', cursive;
    }

    .showcase{
        display: flex;
        justify-content: space-around ;
        margin-top:40px ;
    }
    .playercard{

    }