/***********************
    G  L  O  B  A  L
***********************/
*{
    margin: 0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
   

.resistor{
    background-color: rgb(87, 87, 87);
    top: 0;
    background-size: cover;
    height: 3856px;
    width: 100%; 
    z-index: -2;
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;


}

.insideresistor{
    position: relative;
    z-index: -10;
    background-image: url(img/lineonly.png);
    background-size: contain;
    background-repeat: no-repeat;   
    height: 100%;
    width: 1200px;
}
/*
#resistorimg1{
  z-index: -8;
  position: absolute;
  top: 1510px;
  transform: rotate(0deg);
  left: 1030px;
  height: 240px;
}
#resistorimg2{
  z-index: -8;
  position: absolute;
  top: 2225px;
  transform: rotate(0deg);
  left: 980px;
  height: 240px;
}#resistorimg3{
  z-index: -8;
  position: absolute;
  top: 732px;
  left: -19px;
  transform: rotate(0deg);
  height: 140px;
}#resistorimg4{
  z-index: -8;
  position: absolute;
  top: 1510px;
  transform: rotate(0deg);
  left: 630px;
  height: 240px;
}

.contact-us{
  position: fixed;
  background-color: rgb(30, 255, 0);
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  width:10%;
  height: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-us a{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding:2px 10px 0 10px;
}
*/


/**************************
     N  A  V  B  A  R
***************************/


.navbar{
    position: fixed;
    z-index: 99;
    top: 5px; left: 10px; right:10px;
    border-radius:6px;
    height: 40px;
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: space-around;
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    color: rgb(0, 204, 255);
    min-width: 95px;
    margin: 0 5px;
    font-size: 20px;
    margin-top: 8px;

}
.nav-links{

    min-width: 400px;
}

.shop{
    min-width: 200px;
    text-align: center;
    margin: 8px;

}
.nav-links-list{
    display: flex;
    margin: 8px;

    justify-content: space-around;
}
li{
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: 500;

    text-align: center;
    color: rgb(255, 255, 255); 
}

a.scroll-link{
  padding: 0 10px;
}












/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
             C O N T E N T
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/














/**********<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
           H O M E  +  S L I D E R
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*********/







#slider {
    position: relative;
    width: 741px;
    height: 471px;
    margin: 80px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }
  
  
  
  
  #slider label {
    position: absolute;
    width: 741px;
    height: 479px;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
  }
    
  #slide1 {
    background-image: url(img/jorge-ramirez-lDWVMy6VJr0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #slide2 {
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #slide3 {
    background-image: url(img/angeles-perez-TuwIa3XZfKQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #slide4 {
    background-image: url(img/img6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #slide5 {
    background-image: url(img/vishnu-mohanan-kdsTJ4qLfb0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  /* Slider Functionality */
  
  /* Active Slide */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }
  
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }
  
/******
custom radio buttons
              ********/










/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
           end of slider
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/************************
*********about***********
*************************/


.about{
    display: flex;
    justify-content: center; 
    height: 800px; 
    width: auto;    
    margin-top:240px ;
    position:   relative;
    color:  cyan;
    font-weight: bold;
    font-size: 5rem;
}
.about-box{
  margin: 35px 0 0 110px;
  border-radius: 40px;
  min-width: 1200px;
  max-height: 715px;
}
span#about-text{
  position: relative;
  overflow: hidden;
  display: block;
  padding: 20px;
  line-height: 1.2;
}
span#about-text::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  
}
.about-box table{
  width: 1200px;
  padding: 0 10px;
  border: none;
}
.about-box td{
  height: 250px;
}

/*
#about-text{
  width: 5rem;
  height: 3rem;
}*/

.neobutton1{
  user-select: none;
    font-size: 1rem;
    align-items: center;
    background-color: rgba(255, 255, 255);
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 1rem;
    width: 200px;
    transition: 0.9s;
    color: rgb(87, 87, 87);
}

#neobutton-1{}
#neobutton-2{}
#neobutton-3{}
#neobutton-4{}
.neolink{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(87, 87, 87);
    padding: 40px 35px 40px 35px;
    border-radius: 40px;
}
.neobutton1:hover{
    box-shadow: 
      -8px -8px 12px 0 rgba(0, 0, 0, 0.25),
      12px 12px 16px rgba(255, 255, 255, 0.25);
      
    transition: 0.6s;
}
#neobutton-1 span::before{
  content: 'VISION';

}
#neobutton-1 span::before:hover{
  
  transition:0.4s;
}
#neobutton-1 span:hover::after{
  content: 'IS IT WORKING?';
  font-size: 25px;
  transition-delay: 0.3s;
  transition: 00.4s;
}









/****<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
       S  E  R  V  I  C  E  S
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/









@import url('https://fonts.googleapis.com/css2?Muli&display=swap');



.services{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 20px 0 0;
  height: 800px;

}

span#services-text{
  color: #fb7373;
  margin: 0 0 50px 700px;
  font-weight: bold;
  font-size: 5rem;
}

.container{
    display:flex;
    width:1000px;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 
    12px 12px 15px rgba(0, 0, 0, 0.315);
    height:430px;
    border-radius: 50px;
    flex:0.5;
    position:relative;
    transition: flex 0.5s ease-in;
    color:#fff;
    cursor:pointer;
    margin:10px;
}

.panel h3{
    position:absolute;
    bottom:220px;
    letter-spacing: 5px;
    left:-117px;
    opacity:1;
    transform: rotate(270deg);
    width: 300px;
    height: 27px;

}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity:1;
     transition: opacity 0.4s ease-in 0.4s;
}

@media(max-width:480px){
    .container{
        width:100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display:none;
    }
}









/****<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  S  E  R  V  I  C  E  S---E  N  D
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/****<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
        r  e  v  i  e  w
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.reviews{
  width: 100%;
  height: 780px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewssection{
  cursor: pointer;
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.containers{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.containers .card{
  position: relative;
  cursor: pointer;
}

.containers .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.containers .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.containers .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0);
}

.containers .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.containers .card:hover .face.face1 .content{
  opacity: 1;
}

.containers .card .face.face1 .content img{
  max-width: 100px;
}

.containers .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.containers .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.containers .card:hover .face.face2{
  transform: translateY(0);
}

.containers .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.containers .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.containers .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}



/****<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    r  e  v  i  e  w    e  n  d
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/****<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
        C  O  N  T  A  C  T
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.contact-modal{
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  border-radius: 5px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.contactmodalcard{
  z-index: 1;
  position: absolute;
  width: 800px;
  height: 500px;
  background-color: white;
  opacity: 100%;
  border-radius: 10px;
}
.contactmodalimg{
  z-index: 8;
  position: absolute;
  margin: 0 650px 0 0;
  width: 400px;
  height: 400px;
  opacity: 100%;
  background-color: rgb(236, 138, 138);
  border-radius: 20px;
  background-image: linear-gradient(147deg, #39a5fe 0%, #fdf038 74%);
  box-shadow: 4px 13px 30px 5px rgba(0, 0, 0, 0.2);
}
.contactmodalcard span{
  position: absolute;
  padding: 25px 0px 0px 510px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 100;
}

.close{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 40px;
  height: 60px;
  position: absolute;
  z-index: 10;
  margin: 0 0 485px 780px;
  background-image: linear-gradient(147deg, #5db2f8 0%, #be6fff 74%);
  border-radius: 100px;
  transform: rotate(45deg);
  font-weight: bold;
  font-size: 30px;
}
.close span{
  margin:7px 0 15px 9px;
}

.contactmodalcard .contactmodalimg .contact-modal{
  transition: 5s ease-in;
}

/****<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
          F  O  O  T  E  R
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.fotter{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  align-items: center;
  background-color: rgb(108, 108, 108) ;
  bottom: 0;
  top: 3806px;
}
.badabox{
  height: 450px;
  background-color: rgb(108, 108, 108) ;
  width: 1360px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.logofotter, .column1, .column2, .column3{
  padding: 0 30px;
  height: 100%;
  min-width: 300px;
  
}
.logofotter{
  background-image: url(img/TRONIXLOGO.png);
  background-size: 300px;
  background-repeat: no-repeat;
  align-items: center;  
  margin-top: 2rem;
  }
.column1{
  background-color: rgb(108, 108, 108);

}
#fotter-list-1{
  padding: 20px 0;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#fotter-list-2{
  padding: 20px 0;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#fotter-list-3{
  padding: 20px 0;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.fotter-link{
  padding: 0 10px;
  color: rgb(255, 255, 255);
  letter-spacing: 10px;
}


.column2{
  background-color: rgb(108, 108, 108) ;
}
.column3{
  background-color: rgb(108, 108, 108) ;
}

.socials{
  width: 1360px;
  height: 50px;
  background-color: rgb(65, 65, 65);
}

.fottersocials{
  float: right;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 270px;
  max-width: max-content;
  height: 50px;
  padding: 0 40px ;
/*   background-color:palegreen; */
}
.fa-facebook, .fa-github, .fa-instagram{
  
  background-color:transparent;
  color:rgb(255, 255, 255);
  transition:0.3s;

}
.fa-facebook:hover{
  color: #3b5898;
  transition:0.5s;
}
.fa-github:hover{
  color:#000000;
}
.fa-instagram:hover{
  color: #ff6767;
}
.fab{
  padding: 0px 10px;
}