/***********************
    G  L  O  B  A  L
***********************/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    scroll-behavior: smooth;
}
#univ_blob_1{
    position: absolute;
    
    z-index: -1;    
    
}
body{
    background-color: rgb(236, 234, 234);
}
main{
    text-align: center;    
}
nav{
    padding: 15px;
}
.nav-center{
    display: flex;
    justify-content: space-around;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    background: hwb(0 100% 0% / 0.534);
 /*   box-shadow:  5px 5px 20px #BABECC, 
                -5px -5px 10px #ffffff; */
    transition: 0.3s;
    backdrop-filter: blur(2rem);
}
/*
.nav-center:hover{
    box-shadow:  4px 4px 8px #BABECC, 
    -4px -4px 10px #ffffff;
    transition: 0.3s;
}
*/

/*
.header{
    background-color: rgba(255, 255, 255, 0.329);
    margin: 40px;
    padding: 2px 0px;
    border-radius: 5px;
    transition: 0.3s;
}
.header:hover{
    background-color: transparent;
    transition: 0.3s;
}*/
#logo-span{   
     padding: 0 4rem;
     font-family: 'Major Mono Display', monospace;
     color: rgb(39, 39, 39);
     transition: 0.9s;
}
#logo-span:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.nav-links{
    display: block;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 900px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: normal;
    color: rgb(109, 109, 109);
    transition: 0.7s;
}
a:hover{
    color: white;
    transition: 0.5s;
}



.burger{
    transition: 0.4s;
}
.nav-toggle{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: pink;
    border: 0px;
    transition: 0.4s;
   /* box-shadow: -5px -5px 20px white,  5px 5px 20px  #BABECC;*/
}
.burgerline{
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(243, 236, 236);
    margin: 5px;
    transition: 0.5s;
}
.nav-toggle:hover{
    background-color: #e6e6e6;
    transition: 0.4s;
}
.nav-toggle:hover .burgerline{
    background-color: rgb(252, 173, 186);
    transition: 0.7s;
}

/************LINKS pages*************/

.about,.skills,.projects,.contact{
    min-height: 650px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    border-radius: 10px;
    display: inline-block;
    width: 200px;
    padding: 0 20px;
}
#logo{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}

/*<<<<<<<<<<<<<<<<<< C O N T E N T >>>>>>>>>>>>>>>>>>*/

.homebox{
    background: linear-gradient(rgba(255, 192, 203, 0), rgba(255, 153, 168, 0.363));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 520px;
    margin: 16px;
    
}
.homeboxcontent{
 
    position: relative;
  /*  background-color: rgb(248, 168, 114); */
    min-width: 400px;
    padding:20px;
    margin: 7px;
    border-radius: 5px;
    align-items: center;
}
.homeboxlinks{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
 /*   background-color:palegreen; */
}
/*
.profilepiccontainer{
    position: relative;
    left: 150px; 
    width: 150px;
    height: 230px;
}*/
.vector{
    overflow: hidden;
    z-index: 12;
    display: inline-block;
    position:relative;
    left: 50px;
    bottom: 50px;
    width: 400px;
}
.vector-img{
    width: 200px;
}
.home-content{
    z-index: 11;
    position: absolute;
    top:200px;
    animation: wobble 9s infinite;

}
.Sarthak{
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: white;
    line-height: 1em;
}
.home-content-stroke{
    z-index: 12;
    position: absolute;
    top:200px; 
    animation: wobble 9s infinite;
}
.Sarthak-stroke{
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
} 
.profilepic{
    position: inherit;
    clip-path: circle(50% at 100% 10%);                
    width: 200px;
}
.fa-facebook, .fa-github, .fa-instagram{
    background-color:transparent;
    color:rgb(32, 32, 32);
    transition:0.3s;

}
.fa-facebook:hover{
    color: #3b5898;
    transition:0.3s;
}
.fa-github:hover{
    color:#ffffff;
}
.fa-instagram:hover{
    color: #ffffff;
}
.fab{
    padding: 20px 10px;
}
.fa-behance{
    color: black;
}
.fa-behance:hover{
    color: white;
    transition:0.3s;
}

@keyframes wobble{
    0%{
        transform: translate(100px,70px);
    }
    33%{               
        transform: translate(130px,15px);
    }
    66%{
        transform: translate(180px,30px);
    }
    100%{
        transform: translate(100px,70px);
    }
}



/***********************
    ---------------
    ||||ABOUT||||||
    ~~~~~~~~~~~~~~~
***********************/
.about{
    position: relative;
    margin-top: 100px;
}
.about-head{
    display: inline-block;
    position: absolute;
    padding: 0 30px 0px 20px;
    right: 20px;
    top: -40px;

}
.about-head p{
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
}
.about-para{
    background: linear-gradient(rgb(169, 226, 255), rgb(158, 205, 255));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 520px;
    margin: 16px;
    padding: 20px;
    flex-wrap: wrap;
}
.para01{
    background-color: aliceblue;
    max-width: 300px;
    margin:16px;
    padding: 25px;
    border-radius: 40px;
    font-family: 'poppins',sans-serif;
}
.para02{
    background-color: aliceblue;
    max-width: 300px;
    margin:16px;
    padding: 25px;
    border-radius: 40px;
    font-family: 'poppins',sans-serif;
}
.about-location{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    min-width: 250px;
    border-radius: 40px;
    background-color: aliceblue;
}
.location-pin{
    max-width: 40px;
    margin: 15px 0;
}
.address{
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.address:hover{
    color: black;
}


/***********************
    ---------------
    |||||S K I L L||||||||||
    ~~~~~~~~~~~~~~~
***********************/

.skills{
    position: relative;
    margin-top: 60px;
}
.skills-head{
    z-index: 1;
    display: inline-block;
    position: absolute;
    padding: 0 20px 0px 30px;
    left: 20px;
    top: -40px;
}
.skills-head p{
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
 /* background: -webkit-linear-gradient(30deg, rgb(73, 231, 0), rgb(190, 69, 69));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;*/
 
}
.skill-container{
    overflow: hidden;
  /*background: linear-gradient(rgb(43, 255, 0), rgb(0, 202, 0)); */
    background-color: #c5c5c58e;
    border-radius: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    min-height: 520px;
    margin: 16px;
    padding: 20px;
    flex-wrap: wrap;
}
.skillbox{
    margin: 15px;
    background-color: #ffffff80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    min-width: 150px;
    border-radius: 40px;
    padding: 20px;  
    transition: 0.6;
}
.skillbox p{
    font-weight: bold;
    color: rgb(114, 114, 114);
    font-family: 'poppins',sans-serif; ;
}
.skillboximg{
    margin:10px ;
    width: 40px;
}
/* 
.skillbox1{
    background-color: #ffffff80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    min-width: 150px;
    border-radius: 40px;
    padding: 20px;  
}
.skillbox1 p{
    font-weight: bold;
    color: rgb(114, 114, 114);
    font-family: 'poppins',sans-serif; ;
}
.skillbox2{
    background-color: #ffffff80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    min-width: 150px;
    border-radius: 40px;
    padding: 20px;  
}
.skillbox2 p{
    font-weight: bold;
    color: rgb(114, 114, 114);
    font-family: 'poppins',sans-serif; ;
}
.skillbox3{
    background-color: #ffffff80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    min-width: 150px;
    border-radius: 40px;
    padding: 20px;   
}
.skillbox3 p{
    font-weight: bold;
    color: rgb(114, 114, 114);
    font-family: 'poppins',sans-serif; ;
}
.skillbox4{
    background-color: #ffffff80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    min-width: 150px;
    border-radius: 40px;
    padding: 20px;   
}
.skillbox4 p{
    font-weight: bold;
    color: rgb(114, 114, 114);
    font-family: 'poppins',sans-serif; ;
}
/*
.skillbox:hover{
    background-color: #ffffff90;
    box-shadow: 
    0px 0px 20px 8px rgba(126, 126, 126, 0.2);
    transition: 0.6s ease;    
} */


.htmlimg{
    margin:10px ;
    width: 40px;

}
.cssimg{
    margin:10px ;
    width: 40px;
}
.bstrapimg{
    margin:10px ;
    width: 40px;
}
.reactimg{/*
      filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
    margin:10px ;
    width: 40px;
}






/***********************
    ---------------
    P R O J E C T S
    ~~~~~~~~~~~~~~~
***********************/


#projects{
    position: relative;
}
#projecttag{
    z-index: 1;
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    position: absolute;
    padding: 0 30px 0px 20px;
    right: 20px;
    top: -40px;
}

.projectcontainer{
    background-color: #decbfd;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    min-height: 520px;
    margin: 16px;
    padding: 30px 0px;

}


.projitem{
    margin: 20px 100px;
    
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.upper{
    min-width: 800px;
    min-height: 200px;
    background-color: #c6a6ff;
    border-radius: 50px;
}
.lower{

}









/***********************
    ---------------
    |||||C O N T A C T|||||||||
    ~~~~~~~~~~~~~~~
***********************/


.contact{
    position: relative;
    margin-top: 60px;
}
.contact-head{
    z-index: 1;
    display: inline-block;
    position: absolute;
    padding: 0 20px 0px 30px;
    left: 20px;
    top: -50px;
    background-color: rgb(236, 234, 234);
}
.contact-head p{
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
}
.parent_contact{
    position: relative;
   
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 520px;
    margin: 16px;
}
.contact_overlay{
    position: absolute;
    border-radius: 20px 100px 100px  20px;
    margin-left: 100px;
    background:rgb(255, 255, 255,0.1);
    
    width: 500px;
    height: 350px;
    z-index: 10;
    
}
.contact_base{
    position: absolute;
    border-radius: 20px 100px 100px  20px;
    margin-left: 100px; 
    background-color:rgb(214, 170, 255) ;
    width: 500px;
    height: 350px;
    z-index: 5;
}
.contact_overlay h2{
    padding: 10px 120px 0 0;
    font-weight: 600;
    align-self: center;
}
.contact_base h4{
    padding-top: 310px;
}
#contact_blob_1{
    margin-right: 500px;
    top:150px;
    position: absolute;
    z-index: 4;
}
#contact_blob_2{
    margin-right: 500px;
    top: 150px;
    position: absolute;
    z-index: 6;
    filter: blur(3px);
}

#contact-form{
    
    background-color: none;
    display: flex;
    width: 300px;
    height: 350px;
    flex-direction: column;
    padding: 5px 5px 5px 30px;
}
#name{
    max-width: 270px;
    min-width: 270px;
    border-radius: 5px;
    margin: 20px 0 0 0;
    font-size: 15px;
    background-color: white;
    
    padding: 15px;
    border: none;
}
#name:focus{
    outline: 3px solid rgba(183, 0, 255, 0.438);
}
#con-message{
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    min-height: 170px;
    min-width: 270px;
    max-width: 270px;
    max-height: 170px;
    font-size: 15px;
    padding: 15px;
}
#message:focus{
    outline: 3px solid rgba(183, 0, 255, 0.438);
}
#contact-form-submit{
    align-self: center;
    border: 3px rgb(129, 0, 204, 0)  solid;
    width: 100px;
    border-radius: 5px;
    padding: 3px;
    font-family: poppins ,sans-serif;
    font-weight: 600;
    background-color: #9900ff91;
    color: white;
}
#contact-form-submit:hover{
    border: 3px rgb(129, 0, 204, 0.3) solid;
    transition: 0.3s;
}
#contact-form-submit:active{
    background-color: #7100bd;
}



    /***********************
        ---------------
        |||||||||||||||
        ~~~~~~~~~~~~~~~
    ***********************/


    .burgerbtnparent{
        display: none;
    }
    .scroll-link{
        display: block;
    }


    @media screen and (max-width: 700px) {
        .burgerbtnparent{
            display: block;
        }
        .nav-links{
            display: none;
        }
    
    }

    @media screen and (max-width: 500px) {
        .homebox{
            flex-direction: column;
        }
        .homeboxlinks{
            flex-direction: row;
        }
        .homeboxcontent{
            margin:0px;
            padding:0px;
        }
        .home-content{
        left: 50px;
            top:250px; 
        }.home-content-stroke{
            left: 50px;
            top:250px; 
        }
        .vector{
            left: 0px;}
            @keyframes wobble{
                
                33%{
                
                    transform: translate(10px,-50px);
                }
                
                66%{
                    transform: translate(70px,-20px);
                }
            }

    }

.skill-bg-active{
    background-color: black;
    transition: 1s ease-in-out;
}

#updates{
    letter-spacing: 4px;
    font-weight: 600;
    padding: 20px;
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0.747);
    color:white;
}